<h1>Bienvenido <%=  session.nombre %></h1>
<p>Usa el menú de la izquierda para navegar.</p>
<%
const flashMsg = getAndClearFlash();
if ( flashMsg ){
%>
<dialog id="flashModal">
    <form method="dialog">
        <p><%= flashMsg %></p>
        <button>Cerrar</button>
    </form>
</dialog>
<% } %>

<script>
    const flashDialogEl = document.getElementById("flashModal");
    if (flashDialogEl) {
        flashDialogEl.showModal();
    }
</script>
